@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigator{
    background-color: #333;
    overflow: hidden;
}

.navigator a{
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14 16;
    text-decoration: none;
    font-size: 20;
    font-family: Lato, sans-serif;
}

.navigator a:hover{
    background-color: #ddd;
    color: black;
}

.navigator a.active{
    background-color: #001385;
    color: white;
}

.navigator .icon{
    position: absolute;
    top: 0;
    right: 0;
}


header {
      
    background-image: url("vancouver.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

}

header>h1 {
    padding: 200;
    color: white;
    text-align: center;
    font-family: Lato, sans-serif; 
    font-size: 200;
    text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}

header>h2 {
    padding: 50;
    color: white;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 75;
    text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
    
}

body {
    background-color: #005385;
}

.tab{
    color: white;
    font-size: 26px;
    font-family: Lato, sans-serif;
    text-align: center;
    background-color: black;
    width: 200px;

}

.tldr{
    text-align: center;
    font-family: Lato, sans-serif;
    background-color: white;
}
#tldr_title{
    font-size:50;
    padding:10;
}
#aboutme{
    padding:20;
    font-size: 40;
}
.specializations{
    margin: 50 0;
}
#special_title{
    text-align: center;
    font-size: 50;
    color:white;
    font-family: Lato, sans-serif;
}

#print{
    filter: invert(75%);
    margin-left:13.5%;
    display:  inline-block;
    border: 4px solid white;
    border-radius: 50%;
    background: white;
    text-align:center;
    position:relative;
    width: 100;
    height: 100;
}

#robot{
    filter: invert(75%);
    margin-left:13.5%;
    display:  inline-block;
    border: 4px solid white;
    border-radius: 50%;
    background: white;
    text-align:center;
    position:relative;
    width: 100;
    height:100;
}

#lock{
    filter: invert(75%);
    margin-left:13.5%;
    display:  inline-block;
    border: 4px solid white;
    border-radius: 50%;
    background: white;
    text-align:center;
    position:relative;
    width: 100;
    height:100;
}

#chip{
    filter: invert(75%);
    margin-left:13.5%;
    display:  inline-block;
    border: 4px solid white;
    border-radius: 50%;
    background: white;
    text-align:center;
    position:relative;
    width: 100;
    height:100;
}

.info_text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -100px;
    margin-inline-end: 0px;
    font-family: Lato, sans-serif;
    min-width: 315;
}

#printtext{
    padding-top: 15;
}


#contact{
    background: white;
    color: black;
    font-size: 50;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 100;
}
#info{
    background: white;
    padding-bottom: 50;
    color: black;
    font-size: 50;
    text-align: center;
    font-family: Lato, sans-serif;
    text-decoration: none;
}
